/*start filter*/
.filter ul h4.country-title,
.filter ul h4.spocken-title {
	color: #777575;
	font-size: 12px;
	text-align: center;
	margin-top: 5px
}

.filter ul li {
	padding-bottom: 6px;
	position: relative;
	height: 56px
}
.filter  select {
    border: 1px solid #fff !important;
    margin: auto;
    margin-left: 0px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 107%;
    padding-left: 10px;
    color: #444;
    font-size: 15px;
    font-weight: 600;
}
.filter .t-teaches select {
    border: 1px solid #fff !important;
    margin-left: 15px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: -3px;
    width: 101%;
    padding-left: 10px;
	color: #444;
	font-size: 15px;
	font-weight: 600;
}
.filter  h4 {
	position: relative;
	z-index: 9
}
/*end filter*/

/*start student card*/
@media (min-width: 1200px) {
	.container {
		max-width: 965px;
	}
}

.tutor-card .content {
	padding: 15px 10px;
}

.tutor-card .content .tutor-pict {
	width: 85px;
	height: 85px;
	margin-top: 5px;
}

.tutor-card .content h3 {
	font-size: 20px;
	color: #444;
	margin-top: 3px;
}

@media(max-width:575px) {
	.tutor-card .content h3 {
		margin-left: 14px;
	}
}

/*wnd student card*/
