body {
	font-family: 'Open Sans', sans-serif;
	background-color: #F7F9FB
}

/*start frame work*/
@media (min-width: 1200px) {
	.tutor-container .container {
		max-width: 1323px;
	}
}

/*end frame work*/
/*start filter*/
.filter {
	background-color: #fff;
	padding: 20px
}

@media (min-width: 1200px) {
	.filter .container {
		max-width: 1150px;
	}
}


.filter ul {
	border: 1px solid #f1f1f1;
	border-radius: 4px;
	overflow: hidden
}

.filter ul .content {
	padding: 5px 5px 0
}

.filter ul li {
	border-left: 1px solid #f1f1f1;
}

/*start teaches*/
.filter ul .teaches {
	cursor: initial;
}

.filter ul li.b-left {
	border-left: 0
}

.filter ul .content .t-teaches-title {
	color: #777575;
	font-size: 12px;
	text-align: center
}

.filter .t-teaches input {
	border: 1px solid #e9e9e9 !important;
	margin: auto;
	width: 90%;
	margin-left: 20px;
	margin-right: 7px;
}
.filter select{
border: 1px solid #e9e9e9 !important;
    margin: auto;
    width: 96%;
    height: 27px;
    display: block;
    color: #7a7878;
    font-size: 14px;
}
select:focus {
	box-shadow: none;
	outline: 0
}
.filter .t-teaches input:focus {
	outline: 0
}

/*price*/
.filter ul .price {
	cursor: pointer;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.filter ul .price:hover {
	box-shadow: 2px 2px 5px #efecec, -2px -2px 5px #efecec;
}

.filter ul .price-title {
	color: #777575;
	font-size: 12px;
	text-align: center
}

.filter ul .price p {
	font-size: 11px;
	color: #444;
}

/*counter of birth*/

.filter ul .c-birth-title {
	color: #777575;
	font-size: 12px;
	text-align: center
}

.filter .c-birth input {
	border: 1px solid #e9e9e9 !important;
	margin: auto;
	display: block;
	width: 100%
}

.filter .c-birth input:focus {
	outline: 0
}


/*pick time*/
.pick-time {
	cursor: pointer;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
	text-align: center
}

.pick-title {
	color: #777575;
	font-size: 12px;

}

.pick-time .p {
	font-size: 14px;
	color: #444;
}

.filter ul .pick-time:hover {
	box-shadow: 2px 2px 5px #efecec, -2px -2px 5px #efecec;
}

.time-day {
	border-bottom: 1px solid #e2e1e1;
	padding-bottom: 12px;
}

.time-week {
	padding-top: 12px;
}


/*end filter*/


/*start price range*/
.price-range {
	width: 289px;
	position: absolute;
	top: 159px;
	left: 28.7%;
	z-index: 999;
	height: 98px;
	bottom: 36px;
	padding: 10px;
	border: 1px solid #f1efef;
	background-color: #fff;
	box-shadow: 2px 2px 5px #efeded, -2px -2px 5px #efeded;
	display: none
}

/*end price range*/
/* start pick day*/
.pick-day {
	background-color: #fff;
	width: 272px;
	position: absolute;
	z-index: 999;
	left: 71.4%;
	top: 160px;
	padding: 12px;
	border-radius: 4px;
	box-shadow: 2px 2px 5px #efeded, -2px -2px 5px #efeded;
	display: none
}

.pick-day p {
	font-size: 14px;
	color: #a19f9f;
}

/*end pick day*/
/*start filter framework */
.boxshadow {
	box-shadow: 2px 2px 5px #efeded, -2px -2px 5px #efeded;
}

@media(max-width:1200px) {
	.pick-day {
		width: 267px;
		left: 74.4%;
	}

	.price-range {
		width: 287px;
		left: 25.9%;
	}
}

@media(max-width:991px) {
	.pick-day {
		width: 159px;
		left: 69%;
	}
}

@media(max-width:767px) {
	.filter ul li {
		margin-bottom: 10px
	}

	.price-range {
		width: 300px;
		left: 29.9%;
		top: 222px;
	}

	.pick-day {
		width: 171px;
		left: 69%;
		top: 313px;
	}

}

@media(max-width:575px) {
	.price-range {
		width: 311px;
		left: 21.9%;
		top: 222px;
	}

	.pick-day {
		width: 171px;
		left: 65%;
		top: 313px;
	}
}

@media(max-width:390px) {
	.price-range {
		width: 281px;
		left: 12.9%;
		top: 222px;
	}

	.pick-day {
		width: 164px;
		left: 55%;
		top: 328px;
	}
}

/*end filter framework */

/*start tutor card*/
.tutor-card .content {
	background-color: #fff;
	border-radius: 6px;
	padding: 10px;
	margin-top: 13px;
	margin-bottom: 13px;
	overflow: hidden
}
.hover-content {
	display: none
}
.tutor-card .content .tutor-pict {
	border-radius: 50%;
	width: 130px;
	height: 130px;
	display: block;
	margin: auto;
	position: relative;
	cursor: pointer;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.tutor-card .content .tutor-pict:hover {
	opacity: .9
}

.tutor-card .content .fa-star {
	font-size: 11px;
	position: relative;
	bottom: 6px;
}

.tutor-card .content .g-star {
	color: #f58634;
}

.tutor-card .content .r-name {
	margin: 10px 0 -11px 16%;
}

.tutor-card .content .statu,
.tutor-card .content .favourite {
	position: absolute
}

.tutor-card .content .statu {
	border: 5px solid #f7f4f4;
	border-radius: 50%;
	left: 25%;
	top: 26px;
}

.tutor-card .content .statu.offline {
	border: 5px solid #f7f4f4;
}

.tutor-card .content .statu.online {
	border: 5px solid #1b9a19;
}


.tutor-card .content .favourite {
	left: 79%;
	top: 19px;
	cursor: pointer;
	color: #fff;
}

.tutor-card .content h3 {
	font-size: 20px;
	color: #444;
}

.tutor-card .content h3 img {
	height: 10px;
}

.tutor-card .content h3 .fas {
	color: #08526D;
	font-size: 17px;
}

.tutor-card .content .your-language {
	margin-bottom: 2px;
	color: #444;
	margin-top: -2px;
	font-size: 14px;
}

.tutor-card .content .your-language .fas {
	font-size: 12px;
	margin-right: 5px;
}

.tutor-card .content .lessons,
.tutor-card .content .review {
	color: #50bf16;

}

.tutor-card .content .speeks {
	font-size: 15px;
	font-weight: bold;
}

.tutor-card .content .language {
	color: #444;
	font-size: 14px;

}

.tutor-card .content .language .native {
	background: rgba(80, 191, 22, .1);
	color: #50bf16;
}

.tutor-card .content .info {
	font-size: 14px;
	color: #444;
	margin-top: 6px;
	margin-bottom: 5px;
}

.tutor-card .content .f-row {
	margin-bottom: 5px;
	color: #444;
	font-size: 15px;
}

.tutor-card .content .can-teach .t-item {
	font-size: 14px;
	color: #50bf16;
	background-color: #edf8e7;
	padding: 1px;
}

.tutor-card .content .h-price {
	color: #50bf16;
}

.tutor-card .content button {
	margin-top: 24px
}

.tutor-card .content .free-trial {
	color: #fff;
	background-color: #F58634;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;

}

.tutor-card .content .free-trial:hover {
	opacity: .9
}

.tutor-card .content .send-message {
	background-color: #fff;
	border: 1.5px solid #f58634;
	color: #f58634;
}

@media(max-width:1216px) {
	.tutor-card .content .r-name {
		margin: 10px 0 -11px 9%;
	}
}

@media(max-width:1199px) {
	.tutor-card .container {
		max-width: 1150px;
	}
}

@media(max-width:1199px) {
	.tutor-card .content .language {
		font-size: 13px;
	}

	.tutor-card .content .r-name {
		margin: 10px 0 -11px 3%;
	}

}

@media(max-width:1098px) {
	.tutor-card .content .f-row .col-6 {
		padding-right: 0;
		padding-left: 0
	}
}

@media(max-width:1084px) {
	.tutor-card .content h3 {
		font-size: 17px;
	}

}

@media(max-width:991px) {
	.tutor-card .content .r-name {
		margin: 10px 0 -11px 16%;
	}

	.tutor-card .content h3 {
		font-size: 20px;
	}
}

@media(max-width:816px) {
	.tutor-card .content .r-name {
		margin: 10px 0 -11px 9%;
	}

	.tutor-card .content h3 {
		font-size: 17px;
	}
}

@media(max-width:693px) {
	.tutor-card .content .r-name {
		margin: 10px 0 -11px 4%;
	}

}

@media(max-width:693px) {
	.tutor-card .content h3 .fas {
		font-size: 14px;
	}
	.tutor-card .content h3 {
		font-size: 16px;
	}
	}
@media(max-width:575px) {
   .tutor-card .content .tutor-pict {
	display: block;
	margin-left:20px ;
}
	.tutor-card .content .r-name {
		margin: 10px 0 -11px 7%;
	}
}

/*end tutor card*/

/*start hover card*/
.hover-card {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #f0eeee;
	margin-top: 13px;
    position: absolute;
    top: 0;
    left: 15px;
	display: none
}

.hover-card::before {
	content: "";
	border-width: 20px;
	border-color: transparent white transparent transparent;
	border-style: solid;
	display: block;
	position: absolute;
	top: 76px;
	left: -9%;
}

.hover-card h5 {
	color: #444;
	font-size: 14px;
	padding: 20px 0 7px 20px;

}

.hover-card .fa-globe-asia {
	color: #ccc;
}

.hover-card video {
	display: block;
	margin: auto;
	border-radius: 4px;
}

.hover-card img {
	width: 86%;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

.hover-card .view-scheduale {
	background-color: #fff;
	border: 1.5px solid #f58634;
	color: #f58634;
	display: block;
	margin: auto;
	padding: 3px 54px;
	margin-bottom: 12px;
	margin-top: 15px
}

#mySchedule {
	width: 95%;
	height: 230px;
	margin: auto
}
.scheduale {
	border: 0
}
.scheduale .scheduale-table {
	margin-top: 0
}
.scheduale .fa-angle-right {
    border: 0;
    color: #fff;
}
@media(max-width:1116px) {
	.hover-card::before {
		left: -12%;
	}

	@media(max-width:991px) {
		.hover-card {
			display: none
		}
	}

	/*end hover card*/