/*start frame work*/
@media (min-width: 1200px) {
	.container {
		max-width: 1235px;
	}
}

/*end frame work*/
/*start overlay*/
/*
.overlay {
	width: 100%;
	height: auto;
	background-image: linear-gradient(to right, rgba(11, 106, 134, 0.9), rgba(210, 93, 7, 0.9));
	position: absolute;
	bottom: 0;
}
*/

/*end over lay*/
/* start navbar*/
.navbar {

	z-index: 9999;
	padding-top: 12px;
	text-transform: capitalize;
	padding-top: 30px
}

.navbar-light .navbar-brand {
	color: #fff;
	font-weight: 600;
	font-size: 28px;
	margin-left: 22px;
	margin-right: 56px;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
	color: #e8e1e1
}


.navbar-light .navbar-nav .navb-link {
	color: #fff;
	position: relative;
	top: 4px;
	font-size: 16px;
	font-weight: bold;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s
}

.navbar-light .navbar-nav a {
	text-decoration: none
}

.navbar-light .navbar-nav .nav-item {
	padding-left: 24px
}

.navbar-light .navbar-nav .navb-link:hover {
	color: #fff;
	border-bottom: 2px solid #fff;
	padding-bottom: 5px;

}

.navbar-light .r-nav a {
	color: #fff;
	text-decoration: none;
}

.navbar-light .r-nav .question {
	font-size: 18px;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s
}

.navbar-light .r-nav .question:hover {
	color: #e8e1e1
}

.navbar-light .sign-up {
	background-color: #F58634;
	border-radius: 4px;
	padding: 5px 8px;
	color: #fff !important;
	font-weight: bold;
	font-size: 14px;
	border: 1.2px solid #fff;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s
}

.navbar-light .sign-up:hover {
	color: #F58634 !important;
	background-color: #fff
}

.navbar-light .log-in {
	font-weight: bold;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s
}

.navbar-light .log-in:hover {
	border-bottom: 2px solid #fff;
	padding-bottom: 5px
}

@media(max-width:767px) {
	.navbar {
		position: absolute;
		top: 0;
		width: 100%;
		padding-top: 3px;
		padding-bottom: 0px;
		padding-left: 0;
		padding-right: 0
	}
	.navbar-collapse {
		background-color: rgba(0,0,0,.9)
	} 
	.navbar-light .r-nav a,
	.navbar-light .navbar-nav .navb-link {
		text-align: center;
		display: block;
		margin-bottom: 10px
	}

	.navbar-light .navbar-nav .navb-link:hover {
		border: 0;
		padding-bottom: 0;
		color: azure;
		margin-bottom: 10px
	}

	.navbar-light .log-in:hover {
		border-bottom: 0;
		padding-bottom: 0;
		color: azure
	}

	.navbar-light .sign-up {
		width: 24%;
		margin: auto
	}
}

@media(max-width:621px) {
	.navbar-light .navbar-brand {
		margin-right: 26px;
		margin-left: 15px
	}

	.navbar-light .log-in,
	.navbar-light .sign-up,
	.navbar-light .question {
		position: relative;
		top: 6px;
	}

	.navbar-light .navbar-nav .nav-item {
		padding-left: 12px
	}
}

@media(max-width:320px) {
	.navbar-light .sign-up {
		width: 26%;
	}
}

/* end navbar */

/*start banner*/

/*start left section*/
.banner {
	overflow: hidden;
	background-image: url("../img/banner4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center right;
	margin-top: -90px;
}
.overlay {
	width: 100%;
	padding-top: 200px;
	margin-top: -90px;
	background-image: linear-gradient(to right, rgba(11, 106, 134, 0.9), rgba(210, 93, 7, 0.9));
	min-height: 720px
	
}
.banner .left-section h2 {
	margin-top: 107px;
	color: #fff;
	font-size: 21px;
	margin-bottom: 20px;
	line-height: 1.35;


}

.banner .left-section h2 b {
	font-weight: 700;
	font-size: 50px;
	display: block;
	margin-top: 26px;
	position: relative;
	top: -10px;
	letter-spacing: -.4px;
}

.banner .left-section p {
	color: #fff;
	font-size: 19px;
	line-height: 24px;
	letter-spacing: .5px;


}

.input-group .row {
	margin-left: 0;
	margin-right: 0
}

.input-group .col-10,
.input-group .col-2 {
	padding-right: 0;
	padding-left: 0
}

.banner .left-section select {
	height: 53px;
	width: 82.5%;
	color: #6f6f6f;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: none;
	text-indent: 9px;
	font-size: 17px;
	font-weight: bold;
	cursor: text;
}

.banner .left-section select:focus {
	outline: 0
}

.banner .left-section .btn {
	background-color: #F58634;
	color: #fff;
	padding: 10px 13.26px;
	font-size: 15.9px;
	font-weight: bold;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s
}

.banner .left-section .btn:hover {
	background-color: #e6690c;

}

.banner .left-section .btn:focus {
	box-shadow: none
}

.banner .left-section .input-group {
	border: 2px solid #fff;
	border-radius: 7px;
	width: 100%;


}

@media(max-width:1251px) {
	.banner .left-section select {
		width: 82.3%;
	}
}

@media(max-width:1238px) {
	.banner .left-section .input-group {
		border: 0;
	}

	.banner .left-section select {
		width: 75%;
	}
}

@media(max-width:991px) {
	.banner .left-section .input-group {
		border: 2px solid #fff;
	}

	.banner .left-section select {
		width: 85%;
	}
}

@media(max-width:767px) {
	.banner .left-section select {
		width: 79.7%;
	}
}

@media(max-width:574px) {
	.banner .left-section select {
		width: 69%;
	}

	.banner .left-section .input-group {
		border: 0;
	}
}

@media(max-width:400px) {
	.banner .left-section h2 b {
		font-size: 44px;
	}

	.banner .left-section h2 {
		margin-top: 40px
	}


	.banner .left-section .input-group {
		border: 2px solid #fff;
	}

	.banner .left-section select {
		width: 70.5%;
	}


}

@media(max-width:414px) {

	.banner .left-section .input-group {
		border: 2px solid #fff;
	}

	.banner .left-section select {
		width: 73%;
	}
}

@media(max-width:375px) {

	.banner .left-section select {
		width: 70%;
	}
}

@media(max-width:360px) {

	.banner .left-section select {
		width: 68.6%;
	}
}

@media(max-width:320px) {

	.banner .left-section select {
		width: 64%;
	}
}

/*end left section*/
.banner .right-section .mock-1 {
	margin-top: 84px;
}

.banner .right-section .mock-2 {
	max-width: 27%;
	position: absolute;
	top: 250px;
	left: 70%;
}

@media(max-width:1200px) {
	.banner .right-section .mock-2 {
		max-width: 27%;
		position: absolute;
		top: 210px;
	}
}

@media(max-width:991px) {
	.banner .right-section {
		display: none
	}
}

/*end banner*/


/** start statistic **/

.statistic {
	background-color: #08526D;
	color: #fff;
	padding-top: 12px;
	padding-bottom: 11px;
	overflow: hidden
}

.statistic .row {
	margin-left: 0
}

.statistic .statistic-icon {
	font-size: 42px;
	padding-top: 17px;
	position: relative;
	right: 28px;
}

.statistic .number {
	font-size: 17px;
	line-height: 46px;

}

.statistic .count,
.statistic .count1,
.statistic .count2 {
	font-weight: bold
}

.statistic .caption {
	color: #fff;
	font-size: 14px;
}

@media (max-width: 1200px) {
	.statistic .container {
		max-width: 1154px;
	}
}

@media (max-width: 1155px) {

	.statistic .col-1,
	.statistic .col-11 {
		margin-right: -10px
	}

	.statistic .number {
		font-size: 13px;
		line-height: 42px;
	}

	.statistic .statistic-icon {
		font-size: 33px;
	}

	.statistic .caption {
		font-size: 12px;
	}
}

@media (max-width: 783px) {

	.statistic .number {
		font-size: 12px;
	}

	.statistic .statistic-icon {
		font-size: 30px;
	}
}

@media (max-width: 767px) {
	.statistic .caption {
		font-size: 14px;
	}

	.statistic .number {
		font-size: 17px;
	}

	.statistic .statistic-icon {
		font-size: 43px;
	}

	.statistic .data {
		margin-bottom: 24px;
	}

	.statistic .row {
		margin-left: 20px
	}
}

@media (max-width: 400px) {
	.statistic .row {
		margin-left: 10px
	}
}

/** end statistic **/
/*start become tutor*/
.become-tutor {
	background-color: #f7f9fb;
	padding-bottom: 80px;
}

.become-tutor .over-lay {
	background-color: #fff;
	border-radius: 8px
}

.become-tutor .over-lay h2 {
	margin-top: 34px;
	margin-bottom: 8px;
	color: #384047;
	font-size: 32px;
	font-weight: 500;
	line-height: 1.3;
}

.become-tutor .over-lay p {
	color: #6f757b;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.44444444;
}

.become-tutor .over-lay .fas,
.become-tutor .over-lay .far {
	font-size: 16px;
	color: #159BC9;
	margin-right: 12px;
}

.become-tutor .over-lay ul li {
	margin-bottom: 12px;
	font-size: 16px;
	color: #000;
}

.become-tutor .over-lay button {
	border: none;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
	padding: 6px 17px;
	cursor: pointer;
	margin-top: 50px;
	margin-bottom: 38px;
	background-color: #08526D;
	color: #fff
}

button:focus {
	outline: 0
}

.become-tutor .over-lay img {
	height: 402px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px
}

@media(max-width:767px) {
	.become-tutor .right-section {
		margin-left: 20px
	}

	.become-tutor .over-lay img {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		border-bottom-left-radius: 0px
	}

}

@media(max-width:460px) {
	.become-tutor .over-lay h2 {
		font-size: 28px;
	}

	.become-tutor .over-lay p {
		font-size: 16px;
	}

}

/*end become tutor*/


/** start testimonial **/

.slider {
	width: 100%;
	font-size: 15px;
	line-height: 1.67;
	color: #444;
	padding: 60px 0;
	height: auto;
	background-color: #f7f9fb;
	background-size: cover;
	padding-bottom: 100px;
	height: 545px;
	overflow: hidden
}

.slider .testimonial {
	background-color: #fff;
	padding: 50px;
	height: 284px;
	border-radius: 8px;
}


.slider .section-title {
	font-size: 37px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-weight: lighter;
	display: inline-block;
	position: relative;
	margin-bottom: 45px;
}

.slider .section-title:after,
.slider .section-title:before {
	content: '';
	position: absolute;
	bottom: 0;
}

.slider .section-title:after {
	height: 2px;
	background-color: rgba(252, 92, 15, 0.46);
	left: 25%;
	right: 25%;
}

.slider .section-title:before {
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	background-color: #fc5c0f;
	left: 50%;
	-webkit-transform: translatex(-50%);
	transform: translatex(-50%);
	bottom: -6px;
	z-index: 9;
	border-radius: 50%;
}

.slider a {
	color: #ccc;
}

.slider .container {
	width: 1206px;
	min-height: 380px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 30px;
}

.slider h3 {
	color: #736861;
	margin: 15px 0 5px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
	font-size: 22px;
}

.slider h6 {
	color: #9c9c9c;
	margin: 0;
	font-size: 14px;
}

.slider input[type="radio"] {
	position: absolute;
	width: 1px;
	/* Setting this to 0 make it invisible for VoiceOver */
	height: 1px;
	/* Setting this to 0 make it invisible for VoiceOver */
	padding: 0;
	margin: -1px;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.slider label {
	display: block;
	width: 0%;
	border-radius: 50%;
	border: 7.5px solid #ddd;
	position: absolute;
	bottom: 44px;
	cursor: pointer;
	transition: border-color 0.3s linear;
}

.slider label.first {
	left: 36%
}

.slider label.second {
	left: 39%;
}

.slider label.third {
	left: 42%;
}

.slider blockquote {
	margin: 0 auto;
	padding: 30px;
	width: 900px;
	margin-left: 16%;
	font-size: 17px;
	background-color: #f9f9f9;
	color: #444;
	box-shadow: 0 5px 2px rgb(249, 249, 249);
	position: relative;
	transition: background-color 0.6s linear;
	border-radius: 5px;
}

.slider blockquote:after {
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	top: 80%;
	border: solid transparent;
	border-top-color: #f9f9f9;
	border-left-color: #f9f9f9;
	border-width: 30px;
	left: 44%;
}

.slider .left-quote {
	display: block;
	float: left;
	border-right: 3px solid #F2F2F2;
	padding-right: 20px;
	margin-right: 20px;
	color: #F2F2F2;
	position: relative;
	top: -6px;
}

.slider .quotes {
	position: absolute;
	color: rgba(0, 0, 0, 0.5);
	font-size: 5em;
}

.slider .info {
	margin: 24px 22%;
	position: relative;
	left: 26%;
}

.slider img {
	float: left;
	margin-right: 20px;
	border-radius: 50%;
	height: 100px !important;
	width: 100px;
}

.slider .about {
	position: relative;
	top: 19px;
}

.slider .slide {
	position: absolute;
	left: -100%;
	opacity: 0;
	transition: all 0.6s ease-in;
}

.slider #first:checked ~ label.first,
.slider #second:checked ~ label.second,
.slider #third:checked ~ label.third {
	border-width: 8px;
	border-color: #DB532B;
	width: 0%;
	height: 0px;
	border-radius: 50%;

}

.slider #second:checked ~ label .second {
	left: 36%
}

.slider #first:checked ~ div.one {
	left: 0;
	opacity: 1;
}

.slider #second:checked ~ div.two {
	left: 0;
	opacity: 1;
}

.slider #third:checked ~ div.three {
	left: 0;
	opacity: 1;
}

@media(max-width:1200px) {
	.slider blockquote {
		width: 717px
	}

	.slider label {
		bottom: 23px;
	}

	.slider label.first {
		left: 36%
	}

	.slider label.second {
		left: 40%;
	}

	.slider label.third {
		left: 44%;
	}

}

@media(max-width:991px) {

	.slider blockquote {
		width: 560px
	}

	.slider .container,
	.slider .testimonial {
		min-height: 500px !important
	}

	.slider label {
		bottom: 123px;
	}

	.slider label.first {
		left: 39%
	}

	.slider label.second {
		left: 43%;
	}

	.slider label.third {
		left: 47%;
	}

}

@media(max-width:767px) {
	.slider blockquote {
		max-width: 500px;
		margin-left: 4%
	}

	.slider .container {
		min-height: 430px
	}

	.slider .info {
		margin: 25px 10%
	}

	.slider blockquote:after {
		top: 88%
	}

	.slider {
		height: 600px
	}

	.slider label {
		text-align: center
	}

	.slider label {
		bottom: 87px;
	}

	.slider label.first {
		left: 35%
	}

	.slider label.second {
		left: 41%;
	}

	.slider label.third {
		left: 47%;
	}


}

@media(max-width:575px) {
	.slider .container {
		max-width: 526px;

	}

	.slider blockquote {
		margin-left: 2%
	}
}


@media(max-width:516px) {
	.slider blockquote {
		max-width: 450px;
		margin-left: 4%
	}

	.slider label {
		bottom: 57px
	}

	.slider #first:checked ~ label.first,
	.slider #second:checked ~ label.second,
	.slider #third:checked ~ label.third {
		border-width: 8px;
		border-color: #DB532B;
		width: 2%;
		height: 8px;
		border-radius: 50%;

	}

	.slider label {

		border: 7px solid #ddd;
	}

	.slider label.first {
		left: 31%
	}

	.slider label.second {
		left: 36%;
	}

	.slider label.third {
		left: 41%;
	}

	.slider {
		height: 630px
	}

}

@media(max-width:487px) {
	.slider blockquote {
		max-width: 400px;
		margin-left: 8%
	}

}

@media(max-width:455px) {
	.slider blockquote {
		max-width: 400px;
		margin-left: 4%
	}

}

@media(max-width:435px) {
	.slider blockquote {
		max-width: 350px;
		margin-left: 8%
	}

	.slider blockquote {
		font-size: 14px
	}

}

@media(max-width:400px) {
	.slider blockquote {
		margin-left: 5%
	}
}

@media(max-width:375px) {
	.slider blockquote {
		margin-left: 3%;
	}
}

@media(max-width:320px) {
	.slider blockquote {
		width: 298px;
	}

	.slider .info {
		margin: 25px 0;
		left: 12%
	}

	.slider label.first {
		left: 25%;
	}

	.slider label.second {
		left: 30%;
	}

	.slider label.third {
		left: 35%;
	}

}

/*end testimonial */


/*start how it work*/
.how-it-work {
	background-color: #f7f9fb;
	padding-top: 80px;
}

.how-it-work .fa-compass {
	font-size: 72px;
	display: inline-block;
	text-align: center;
	position: relative;
	bottom: 38px;
	color: #08526D;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: auto;
	left: 47%;

}

.how-it-work .features {
	background-color: #fff;
	padding-bottom: 50px;
	border-radius: 8px
}

.how-it-work .features h2 {
	text-align: center;
	margin-top: -14px;
	margin-bottom: 8px;
	color: #384047;
	font-size: 34px;
	font-weight: 500;
	line-height: 1.3;
}

.how-it-work .features .l-quran {
	text-align: center;
	margin-bottom: 30px;
	color: #6f757b;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.44444444;
}

.how-it-work .features .numeric {
	background-color: #F0F9FA;
	color: #39b3bd;
	padding: 5px 12px;
	width: 34px;
	border-radius: 50%;
	position: relative;
	left: 39%;
	top: 13px;
}

.how-it-work .features img {
	margin-bottom: 57px;
	box-shadow: -3px 2px 5px #eceaea, 3px -2px 21px #ece9e9;
	border-radius: 5px;
	height: 219px;
}

.how-it-work .features .caption {
	position: relative;
	top: 73px;
}

@media (max-width:414px) {
	.how-it-work .fa-compass {
		left: 42%
	}
}

@media (max-width:320px) {
	.how-it-work .fa-compass {
		left: 40%
	}
}

/*start satisfaction*/
.how-it-work .features .satisfaction {
	border-top: 1px solid #ddf3f5;
	margin-top: 61px;
}

.how-it-work .features .satisfaction .fas {
	font-size: 89px;
	text-align: center;
	display: inline-block;
	position: relative;
	bottom: 48px;
	left: 44%;
	color: #F58634;
	background-color: #fff;
}

.how-it-work .features .satisfaction h3 {
	margin-bottom: 9px;
	margin-top: -32px;
	color: #384047;
	font-size: 32px;
	font-weight: 500;
	line-height: 1.3;
	text-align: center;
}

.how-it-work .features .satisfaction p {
	color: #6f757b;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.44444444;
	text-align: center;
	width: 47%;
	margin: auto;
}

@media (max-width:414px) {
	.how-it-work .features .satisfaction .fas {
		left: 40%
	}
}

@media (max-width:320px) {
	.how-it-work .features .satisfaction .fas {
		left: 35%
	}
}

/*end satisfaction*/

/*end how it work*/

/*start tutor rate*/
.tutor-rate {
	background-color: #F7F9FB;
	padding-bottom: 80px;
	padding-top: 80px;
}

.tutor-rate h2 {
	color: #444;
	font-size: 35px;
	margin-bottom: 31px;

}

.tutor-rate .tutor {
	background-color: #fff;
	width: 100%;
	border-radius: 5px;
	box-shadow: 1px 1px 7px #e1dfdf, -1px -1px 7px #e1dfdf;
	margin-bottom: 20px
}

.tutor-rate .tutor .tutor-picts img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.tutor-rate .tutor .tutor-picts {
	width: 100%;

}

.tutor-rate .tutor .flag {
	margin-top: 14px;
	margin-bottom: 14px;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	margin-left: 14px;
}

.tutor-rate .tutor h3 {
	color: #444;
	font-size: 21px;
	margin-top: 14px;
}

.tutor-rate .tutor h3 .nationality {
	color: #939393;
	font-size: 15px;
	margin-left: 7px;
	font-weight: normal;
}

.tutor-rate .tutor .lesson {
	position: relative;
	top: 14px;
	right: 7px;
	color: #ccc;
}

.tutor-rate .tutor .lesson-number {
	color: #a4a3a3;
	margin-right: 3px;
	font-size: 18px;
}

.tutor-rate .tutor p {
	font-size: 11px;
	color: #f58634;
}

@media(max-width:1200px) {
	.tutor-rate .container {
		max-width: 1128px;
	}
}

@media(max-width:1124px) {
	.tutor-rate .tutor .flag {
		width: 42px;
		height: 42px;
	}

	.tutor-rate .tutor h3 {
		font-size: 16px;
	}

	.tutor-rate .tutor .lesson-number {
		font-size: 14px;
	}

	.tutor-rate .tutor .lesson {
		right: 24px;
	}
}

@media(max-width:767px) {
	.tutor-rate .container {
		max-width: 430px;
	}
}

/*end tutor rate*/

/* start footer */

.footer {

	background-color: #2b3c42;
	padding-top: 70px;
	color: #fff
}

.footer h4 {
	font-size: 17px;
}

.footer ul li a {
	font-size: 15px;
	color: #dad9d9;
	margin-left: 2px;
	text-decoration: none;
	transition: all ease-in-out .3s
}

.footer ul li a:hover {
	color: #F5863A
}

.footer .social-media .fab {
	color: #2b3c42;
	background-color: #fff;
	padding: 5px;
	margin-left: 17px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 17px;
}

.footer .social-media a {
	text-decoration: none;
	transition: all ease-in-out .3s
}

.footer .social-media a:hover {
	opacity: .7
}

.footer p {
	padding: 10px;
	margin-bottom: 0
}

@media(max-width:767px) {
	.footer .social-media {
		text-align: center;
		margin-top: 20px;
	}
}

/*end footer*/
