body {
	background-color: #F7F9FB !important;
}

/*navbar*/
.navbar {
	box-shadow: none
}

.r-nav {
	height: 37px;
}

@media(max-width:767px) {
	.r-nav {
		height: 120px;
	}
}

/*navbar*/

/*start multi stepper*/
/*form styles*/
#msform {
	width: 800px;
	min-height: 530px;
	margin: -50px auto 50px;
	text-align: center;
	position: relative;
	font-family: 'Open Sans', sans-serif !important;

}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 44px 12%;
	position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform input,
#msform textarea {
	padding: 11px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #08526D;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	display: inline;
}

#msform .action-button:hover,
#msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/
.fs-title {
	font-size: 20px;
	font-weight: 600;
	text-transform: capitalize;
	color: #444;
	margin-bottom: 10px;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: #444;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	width: 33.33%;
	float: left;
	position: relative;
	bottom: -9px;
	height: 70px;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 35px;
	padding: 6px 0;
	line-height: 20px;
	display: block;
	font-size: 14px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
	position: relative;
	bottom: 6px;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1;
	/*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
	background: #08526d;
	color: white;
}

/*end multi stepper*/
/*start customize*/
.sign-up h2 {
	margin-top: 18px;
	color: #444;
}

.sign-up .setup-content-2 h3 {
	font-weight: lighter;
	color: #444
}

.sign-up .custom-file {
	margin-bottom: 10px;
	text-align: left
}
.sign-up .custom-file:focus{
	outline: 0
}

/*start student*/
.form-check {
	text-align: left
}
.terms{
	text-align: left;
    background-color: #f7f9fb;
    padding: 11px 7px 0;
}
/*end student*/
@media(max-width:991px) {
	#msform {
		width: 650px;
	}
}

@media(max-width:767px) {
	#msform {
		max-width: 500px;
	}
}

/*end customize*/
