body{
	background-color: #fff!important
}
/*navbar*/
.navbar{
	box-shadow: none
}
.r-nav{
	height: 37px;
}
@media(max-width:767px){
	.r-nav{
	height: 120px;
}
}
/*navbar*/
/*steper*/
.steps-form-2 {
    display: table;
    width: 100%;
    position: relative;
}

.steps-form-2 .steps-row-2 {
    display: table-row;
}

.steps-form-2 .steps-row-2:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #7283a7;
}

.steps-form-2 .steps-row-2 .steps-step-2 {
    display: table-cell;
    text-align: center;
    position: relative;
}

.steps-form-2 .steps-row-2 .steps-step-2 p {
    margin-top: 0.5rem;
}

.steps-form-2 .steps-row-2 .steps-step-2 button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 {
    width: 70px;
    height: 70px;
    border: 2px solid #59698D;
    background-color: white !important;
    color: #59698D !important;
    border-radius: 50%;
    padding: 22px 18px 15px 18px;
    margin-top: -22px;
}

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2:hover {
    border: 2px solid #4285F4;
    color: #4285F4 !important;
    background-color: white !important;
}

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 .fa {
    font-size: 1.7rem;
}

/*start customize*/


.sign-up .setup-content-2 h3{
    font-weight: lighter;
    color: #444
}
.sign-up .input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #d8d5d5;
    border-radius: 0;
    box-shadow: none;
    margin-left: 0rem;
    margin-bottom: 20px
}
.sign-up .input-group-prepend {
        font-size: 23px;
    margin-right: 10px
}
.sign-up .terms{
    border: 1px solid #efeaea;
    margin-top: 25px;
    margin-bottom: 12px;
    padding: 15px 0 0 30px;
    cursor: pointer;
    background-color: #fbfbfb;
}
.sign-up .md-form .prefix {
    top: 14px;
    font-size: 22px;
}
.sign-up .custom-file{
    margin-bottom: 25px;
}   

.sign-up .custom-icon{
    position: relative;
    top: 12px;
    
}






/*end customize*/
